{%extends 'base.html'%}
{%load static%}
{%block style%} <link rel="stylesheet" href="{%static 'css/profile.css'%}">{%endblock%}

{%block content%}
<div class="card mb-3 profile" style="max-width: 80%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{user.profile.pic.url}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">User Profile</h4>
        <h5>Name : {{user.first_name}} {{user.last_name}}</h5>
        <h5>Phone Number : {{user.profile.phone}}</h5>
        <h5>Email Id: {{user.profile.email}}</h5>
        <h5>Location : {{user.profile.location}}</h5>
      </div>
    </div>
  </div>
</div>



<h3 style="margin-left:20px;margin-top:10px;text-decoration:underline;">Your Ads</h3>
<div class="container">
  {%for i in pro%}
<div class="card ad" style="width: 30%;">
  <img src="{{i.img.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <a href="/viewproduct/{{i.id}}" class="btn btn-outline-dark func">View Details</a>
    {%if i.us == user %}
      <a href="/editproduct/{{i.id}}" class="btn btn-outline-dark func">Edit Product</a>
      <a href="/deleteproduct/{{i.id}}" class="btn btn-danger func">Delete Product</a>
    {%endif%}
  </div>
</div>
{%endfor%}
</div>
<h2>{{er}}</h2>


{%endblock%}